<h1>All Lists - <%= link_to 'Create New', new_todo_list_path, class: 'new-item' %></h1>

<% @todo_lists.each do |todo_list| %>

	<div class="list-item clearfix" id="<%= dom_id(todo_list) %>">

	  <%= link_to todo_list.title, todo_list_todo_items_path(todo_list), class: 'item-title' %>

	  <ul class="actions right">
	    <li><%= link_to 'Edit', edit_todo_list_path(todo_list), class: 'edit' %></li>
	    <li><%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></li>
	  </ul>
	   
	</div>

<% end %>