<!DOCTYPE html>
<html>
<head>

	<title>Anchor Todo App</title>

	<meta name="description" content="Super simple todo lists to easily keep track of anything.">

	<%= stylesheet_link_tag    'style', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script type="text/javascript" src="//use.typekit.net/ffi6ngx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<%= analytics_init if Rails.env.production? %>

	<%= csrf_meta_tags %>

</head>
<body>

<%= render "partials/sidebar" %>

<header class="header">
	
	<% flash.each do |type, message| %>

		<div class="alert flash <%= type %>">

			<%= message %>
			
		</div>

	<% end %>

</header><!-- end header -->

<section class="container clearfix">

	<%= yield %>

</section><!-- end container -->

</body>
</html>
